@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

:root {
    --red-color: #ED1C24;
    --gray-dark: #111111;
    --gray-light: #1e1e1e;
    --gray-light-2: #161616;
}

body {
    background-color: var(--gray-dark);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
    background-image: url(../img/symbol-background.svg);
    background-color: var(--gray-dark);
    box-shadow: inset 0px 81.1556px 81.1556px rgba(0, 0, 0, 0.25);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70%;
    /* display: flex;
    justify-content: center; */
}

/* .bg-full {
    max-width: 1260px;
} */

main {
    width: calc(100% - 90px);
    font-family: 'Inter', sans-serif !important;
}


/* PRESETS */
.d-flex {
    display: flex;
}

.al-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.d-desktop-none {
    display: none;
}

.color-red {
    color: var(--red-color);
    font-weight: 700;
}


/* ################################ */
/* ################################ */
/* ################################ */
/* ################################ */


/* HOMEPAGE */
.menu-aside {
    background-color: #161616;
}

.menu-items-aside {
    padding: 16px;
}

.menu-item-aside {
    margin: 8px 0;
    cursor: pointer;
    border: none;
    background-color: #161616;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 10px;
}

.text-item-menu {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 400 !important;
    text-align: center;
    padding-left: 16px;
}


.menu-item-aside img {
    width: 40px;
    transition: all .3s;
    padding: 4px 8px;
    border-radius: 10px;
}

.menu-item-aside:hover img {
    background-color: var(--red-color);
    border-radius: 10px;
    padding: 4px 8px;
}
.menu-item-aside:hover .hover-desk p{
    display: block;
    color: #fff;
    font-weight: 600;
}

.menu-item-aside:nth-child(1):hover img {
    background-color: transparent;
}

.hover-desk p{
    padding: 0;
    color: transparent;
    margin: 0;
    transition: all .3s;
    font-weight: 600;
    font-size: .8em;
}


/* ################################ */
/* ################################ */
/* ################################ */
/* ################################ */

/* MENU MOBILE */
.menu-mobile {
    display: none;
    padding: 8px 16px;
    background-color: var(--gray-light-2);
}

.item-brand-menu-mobile {
    margin: 0 8px;
}

.item-brand-menu-mobile button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.item-brand-menu-mobile img {
    width: 30px;
}

.img-profile {
    background-color: transparent;
    border: none;
}

.img-profile img {
    border: 2px solid var(--red-color);
    border-radius: 50%;
}

.logo-mobile {
    transition: .5s;
}

.btn-menu-mobile-action {
    padding: 12px !important;
    margin: 8px !important;
    font-weight: 600 !important;
    box-shadow: none !important;
}

.mt-5 {
    margin-top: 32px !important;
}

/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */

.header-style {
    padding: 32px;
}

.search {
    background-color: var(--gray-light);
    border-radius: 15px;
}

.input-search {
    background-color: transparent;
    padding: 16px;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    width: 180px;
}

.icon-search {
    box-shadow: 0px 0px 20px 1px rgba(196, 18, 45, 0.6);
    background-color: var(--red-color);
    padding: 8px;
    border-radius: 15px;
}

.money-add {
    padding: 2px;
    padding-right: 4px;
    padding-left: 12px;
    margin-right: 8px;
    color: #fff;
    outline: none;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    background-color: #1e1e1e;
}

.money-add p {
    font-weight: 300;
    margin: 0;
    margin-right: 12px;

}

.btn {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--red-color);
    padding: 12px 18px;
    margin: 0 8px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 1px rgba(196, 18, 45, 0.6);
    border: none;
    font-weight: 500;
}

.btn-add-money {
    padding: 10px;
    margin: 0;
    border-radius: 12px;
}

.btn-add-money img {
    width: 15px;
}



.card-game-highlights {
    max-width: 550px;
    height: 280px;
    border-radius: 20px;
    margin: 16px;
}

.card-game-highlights img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.splide__pagination {
    display: none !important;
}

button.splide__arrow {
    background-color: transparent;
    border: none;
}

.container-arrows {
    height: 16px;
    display: flex;
    justify-content: flex-end;
}

.box-arrows-splide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 170px;
    right: 20px;
    z-index: 2;
}

.box-arrows-splide-2 {
    top: 160px;
}


.splide__arrow--prev {
    display: none !important;
}

.splide__arrow--next {
    filter: drop-shadow(0px 0px 10px #c4122d99);
    cursor: pointer;
}
.container-games-mobile {
    display: none;
}
.filter-games {
    margin: 32px 0;
}

.splide__track {
    padding-left: 16px !important;
}

.btn-filter-games {
    margin: 0 8px;
    padding: 16px 24px;
    background-color: var(--red-color);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color .5s;
}
.btn-filter-games img {
    width: 16px;
    margin-right: 8px;
    padding: 0;
}
.btn-filter-games p {
    position: relative;
    top: 2px;
    padding: 0;
    margin: 0;
}
.icon-live img {
    width: 25px;
}

.btn-filter-games:hover {
    background-color: #c1141a
}


.box-bg-more-games {
    padding: 12px 4px 12px 12px;
    background-color: var(--gray-light);
    border-radius: 20px;
    margin-right: 1em;
}

.box-bg-more-games p {
    padding: 0;
    margin: 0;
}

.btn-more-games {
    padding: 4px 6px;
    cursor: pointer;
    font-weight: 700;
    background-color: transparent;
    box-shadow: none;
}

.btn-more-games img {
    width: 30px;
}

.container-games {
    padding: 32px 0px 32px 32px;
    color: #fff;
}

.box-title-games h2 {
    background-color: var(--gray-light-2);
    padding: 24px;
    margin: 0;
    width: 180px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 1.2em;
}
.box-title-games h2 span {
    margin-right: 16px;
}

.box-games {
    padding-left: 16px;
    padding-bottom: 16px;
    border-radius: 0 0 0 20px;
    background-color: var(--gray-light-2);
}

.card-game {
    width: 200px;
    height: 280px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.card-game h3 {
    z-index: 2;
    position: relative;
    top: -60px;
    text-align: center;
}

.card-game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


/* MODAL  */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--gray-dark);
    margin: auto;
    padding: 0;
    width: 500px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.fade-out {
    -webkit-animation: fade-out .8s ease-out both;
    animation: fade-out .8s ease-out both;
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* The Close Button */
.close {
    color: white;
    padding: 6px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: var(--red-color);
    box-shadow: 0px 0px 20px 1px rgba(196, 18, 45, 0.6);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 16px 32px;
    color: white;
}

.modal-header h3 {
    font-weight: 600;
}

.modal-body {
    padding: 0px 32px;
    padding-bottom: 35px;
}

.box-input {
    margin: 16px 0;
}

.box-input label {
    margin: 8px 0;
}

.box-input input {
    padding: 16px;
    background-color: var(--gray-light);
    border: none;
    border-radius: 15px;
    outline: none;
    border: 1px solid transparent;
    transition: border .3s;
    font-family: 'Inter', sans-serif !important;
    color: #fff;
}

.box-input input:focus {
    border: 1px solid var(--red-color);
}

.btn-action-form {
    margin: 8px 0;
    padding: 16px 0;
    font-weight: 700;
}

.btn-forget-password {
    margin: 8px 0;
    background-color: transparent;
    border: none;
    color: #7E7E7E;
}
.games-sports {
    align-items: stretch;
}
.box-games-sports {
    padding: 32px 16px;
}

.cards-games-sports {
    width: 45%;
}
.list-games-sports {
    width: 50%;
}
.box-items-games-sports {
    display: flex;
}
.items-games-sports {
    background-color: #111111;
    width: 100%;
    border-radius: 10px;
    margin: 16px 8px;
    padding: 12px;
    text-decoration: none;
    color: #Fff;
}
.items-games-sports img {
    margin-right: 32px;
}
.items-games-sports h4 {
    margin: 0;
}
.card-game-sport {
    width: 250px;
    height: 250px;
    clip-path: polygon(100% 0, 70% 100%, 0 100%, 0 0);
    border-radius: 10px;
}
.card-game-sport-2 {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 30% 0);
    position: relative;
    right: 40px;
}
.card-game-sport img {
   width: 100%;
   height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


